## 옷 종류

In [1]:
top={'black_none_longsleeve','white_none_longsleeve','blue_none_longsleeve','red_none_longsleeve','gray_none_longsleeve','yellow_none_longsleeve','khaki_none_longsleeve', 'beige_none_longsleeve','pink_none_longsleeve', 'purple_none_longsleeve',
'black_none_longshirt','white_none_longshirt','gray_none_longshirt','beige_none_longshirt',
'black_none_longneat', 'white_none_longneat', 'gray_none_longneat', 'beige_none_longneat',
'black_none_shortsleeve','white_none_shortsleeve', 'blue_none_shortsleeve','red_none_shortsleeve','gray_none_shortsleeve','yellow_none_shortsleeve','khaki_none_shortsleeve','beige_none_shortsleeve','pink_none_shortsleeve','purple_none_shortsleeve',
'cnone_flower_longshirt','cnone_flower_shortshirt',
'black_stripe_longsleeve','red_stripe_longsleeve','yellow_stripe_longsleeve',
'black_stripe_shortsleeve','red_stripe_shortsleeve','yellow_stripe_shortsleeve',
'black_check_longshirt','blue_check_longshirt','red_check_longshirt','yellow_check_longshirt',
'black_check_shortshirt','blue_check_shortshirt','red_check_shortshirt','yellow_check_shortshirt',
'black_nike_longsleeve','white_nike_longsleeve',
'black_nike_shortsleeve','white_nike_shortsleeve',
'black_none_sleeveless','white_none_sleeveless'
}
print("top: ",len(top))

bottom={'black_none_longpants','white_none_longpants','lightblue_none_longpants','blue_none_longpants','gray_none_longpants','beige_none_longpants',
'black_none_shortpants','white_none_shortpants','lightblue_none_shortpants','blue_none_shortpants','gray_none_shortpants','beige_none_shortpants','red_none_shortpants',
'black_none_longskirt','white_none_longskirt','lightblue_none_longskirt','blue_none_longskirt','beige_none_longskirt',
'black_none_shortskirt','white_none_shortskirt','lightblue_none_shortskirt','blue_none_shortskirt','beige_none_shortskirt',
'black_none_adidaslongpants','black_none_adidasshortpants','black_none_joggerpants'
}
print("bottom: ",len(bottom))

dress={'black_none_sumlongdress','white_none_sumlongdress','blue_none_sumlongdress','red_none_sumlongdress','beige_none_sumlongdress',
'black_none_sumshortdress','white_none_sumshortdress','blue_none_sumshortdress','red_none_sumshortdress','beige_none_sumshortdress',
'black_none_winlongdress','white_none_winlongdress','blue_none_winlongdress','red_none_winlongdress','beige_none_winlongdress',
'black_none_winshortdress','white_none_winshortdress','blue_none_winshortdress','red_none_winshortdress','beige_none_winshortdress'
}
print("dress: ",len(dress))

outer={'black_none_cardigan','gray_none_cardigan','brown_none_cardigan',
'black_none_hoodie','gray_none_hoodie','brown_none_hoodie',
'black_none_coat','gray_none_coat','brown_none_coat',
'black_none_ma1','khaki_none_ma1',
'black_none_blazer','gray_none_blazer',
'blue_none_jacket','black_none_riderjacket',
'black_none_parka','white_none_parka',
'black_none_neatvest','gray_none_neatvest',
}
print("outer: ",len(outer))

top:  50
bottom:  26
dress:  20
outer:  19

## top, bottom, dress, outer

In [2]:
# 27 ~ :sleeveless, shortsleeve, shortshirt
ts={'27':['black_none_shortsleeve','white_none_shortsleeve', 'blue_none_shortsleeve','red_none_shortsleeve','gray_none_shortsleeve','yellow_none_shortsleeve','khaki_none_shortsleeve','beige_none_shortsleeve','pink_none_shortsleeve','purple_none_shortsleeve',
          'black_nike_shortsleeve','white_nike_shortsleeve',
          'black_stripe_shortsleeve','red_stripe_shortsleeve','yellow_stripe_shortsleeve',
          'black_check_shortshirt','blue_check_shortshirt','red_check_shortshirt','yellow_check_shortshirt',
          'cnone_flower_shortshirt',
          'black_none_sleeveless','white_none_sleeveless'
         ]}

# 26 ~ 23 :shortshirt, shortsleeve
ts_tt={'26':['black_none_shortsleeve','white_none_shortsleeve', 'blue_none_shortsleeve','red_none_shortsleeve','gray_none_shortsleeve','yellow_none_shortsleeve','khaki_none_shortsleeve','beige_none_shortsleeve','pink_none_shortsleeve','purple_none_shortsleeve',
             'black_nike_shortsleeve','white_nike_shortsleeve',
             'black_stripe_shortsleeve','red_stripe_shortsleeve','yellow_stripe_shortsleeve',
             'black_check_shortshirt','blue_check_shortshirt','red_check_shortshirt','yellow_check_shortshirt',
             'cnone_flower_shortshirt']}

# 22 ~ 20 : 22-1 longsleeve, longshirt
tt_t1={'22-1':['black_none_longsleeve','white_none_longsleeve','blue_none_longsleeve','red_none_longsleeve','gray_none_longsleeve','yellow_none_longsleeve','khaki_none_longsleeve', 'beige_none_longsleeve','pink_none_longsleeve', 'purple_none_longsleeve',
               'black_stripe_longsleeve','red_stripe_longsleeve','yellow_stripe_longsleeve',
               'black_nike_longsleeve','white_nike_longsleeve',
               'black_none_longshirt','white_none_longshirt','gray_none_longshirt','beige_none_longshirt',
               'cnone_flower_longshirt',
               'black_check_longshirt','blue_check_longshirt','red_check_longshirt','yellow_check_longshirt']}
# 22-2:shortshirt, shortsleeve 
tt_t1['22-2']=['black_none_shortsleeve','white_none_shortsleeve', 'blue_none_shortsleeve','red_none_shortsleeve','gray_none_shortsleeve','yellow_none_shortsleeve','khaki_none_shortsleeve','beige_none_shortsleeve','pink_none_shortsleeve','purple_none_shortsleeve',
               'black_nike_shortsleeve','white_nike_shortsleeve',
               'black_stripe_shortsleeve','red_stripe_shortsleeve','yellow_stripe_shortsleeve',
               'black_check_shortshirt','blue_check_shortshirt','red_check_shortshirt','yellow_check_shortshirt',
               'cnone_flower_shortshirt']

# 19 ~ 17:longsleeve, longshirt
on_os1={'19-1': ['black_none_longsleeve','white_none_longsleeve','blue_none_longsleeve','red_none_longsleeve','gray_none_longsleeve','yellow_none_longsleeve','khaki_none_longsleeve', 'beige_none_longsleeve','pink_none_longsleeve', 'purple_none_longsleeve',
                 'black_stripe_longsleeve','red_stripe_longsleeve','yellow_stripe_longsleeve',
                 'black_nike_longsleeve','white_nike_longsleeve',
                 'black_none_longshirt','white_none_longshirt','gray_none_longshirt','beige_none_longshirt',
                 'cnone_flower_longshirt',
                 'black_check_longshirt','blue_check_longshirt','red_check_longshirt','yellow_check_longshirt']}

on_os1['19-2']=['black_none_longneat', 'white_none_longneat', 'gray_none_longneat', 'beige_none_longneat']


# 16 ~ 10 : 16-1: longsleeve, longneat, longshirt
os_o1={'16-1': ['black_none_longsleeve','white_none_longsleeve','blue_none_longsleeve','red_none_longsleeve','gray_none_longsleeve','yellow_none_longsleeve','khaki_none_longsleeve', 'beige_none_longsleeve','pink_none_longsleeve', 'purple_none_longsleeve',
                'black_stripe_longsleeve','red_stripe_longsleeve','yellow_stripe_longsleeve',
                'black_nike_longsleeve','white_nike_longsleeve',
                'black_none_longshirt','white_none_longshirt','gray_none_longshirt','beige_none_longshirt',
                'cnone_flower_longshirt',
                'black_check_longshirt','blue_check_longshirt','red_check_longshirt','yellow_check_longshirt',
                'black_none_longneat', 'white_none_longneat', 'gray_none_longneat', 'beige_none_longneat']} 
#16-2 : longsleeve, longshirt
os_o1['16-2']=['black_none_longsleeve','white_none_longsleeve','blue_none_longsleeve','red_none_longsleeve','gray_none_longsleeve','yellow_none_longsleeve','khaki_none_longsleeve', 'beige_none_longsleeve','pink_none_longsleeve', 'purple_none_longsleeve',
               'black_stripe_longsleeve','red_stripe_longsleeve','yellow_stripe_longsleeve',
               'black_nike_longsleeve','white_nike_longsleeve',
               'black_none_longshirt','white_none_longshirt','gray_none_longshirt','beige_none_longshirt',
               'cnone_flower_longshirt',
               'black_check_longshirt','blue_check_longshirt','red_check_longshirt','yellow_check_longshirt']

# 9 ~ 6 : 9-1:longsleeve, longneat, longshirt
n_s1={'9-1':['black_none_longsleeve','white_none_longsleeve','blue_none_longsleeve','red_none_longsleeve','gray_none_longsleeve','yellow_none_longsleeve','khaki_none_longsleeve', 'beige_none_longsleeve','pink_none_longsleeve', 'purple_none_longsleeve',
             'black_stripe_longsleeve','red_stripe_longsleeve','yellow_stripe_longsleeve',
             'black_nike_longsleeve','white_nike_longsleeve',
             'black_none_longshirt','white_none_longshirt','gray_none_longshirt','beige_none_longshirt',
             'cnone_flower_longshirt',
             'black_check_longshirt','blue_check_longshirt','red_check_longshirt','yellow_check_longshirt',
             'black_none_longneat', 'white_none_longneat', 'gray_none_longneat', 'beige_none_longneat']} 
# 9-2: longsleeve, longshirt
n_s1['9-2']=['black_none_longsleeve','white_none_longsleeve','blue_none_longsleeve','red_none_longsleeve','gray_none_longsleeve','yellow_none_longsleeve','khaki_none_longsleeve', 'beige_none_longsleeve','pink_none_longsleeve', 'purple_none_longsleeve',
             'black_stripe_longsleeve','red_stripe_longsleeve','yellow_stripe_longsleeve',
             'black_nike_longsleeve','white_nike_longsleeve',
             'black_none_longshirt','white_none_longshirt','gray_none_longshirt','beige_none_longshirt',
             'cnone_flower_longshirt',
             'black_check_longshirt','blue_check_longshirt','red_check_longshirt','yellow_check_longshirt']


# 5 ~ : 5-1: longsleeve, longneat, longshirt
f1={'5-1': n_s1["9-1"]} 
# 5 -2 : 
f1['5-2']= n_s1["9-2"]

In [3]:
total={}
total.update(ts)
total.update(ts_tt)
total.update(tt_t1)
total.update(on_os1)
total.update(os_o1)
total.update(n_s1)
total.update(f1)

In [4]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame.from_dict(total, orient='index')
df1 = df1.T
df1

,27,26,22-1,22-2,19-1,19-2,16-1,16-2,9-1,9-2,5-1,5-2
0,black_none_shortsleeve,black_none_shortsleeve,black_none_longsleeve,black_none_shortsleeve,black_none_longsleeve,black_none_longneat,black_none_longsleeve,black_none_longsleeve,black_none_longsleeve,black_none_longsleeve,black_none_longsleeve,black_none_longsleeve
1,white_none_shortsleeve,white_none_shortsleeve,white_none_longsleeve,white_none_shortsleeve,white_none_longsleeve,white_none_longneat,white_none_longsleeve,white_none_longsleeve,white_none_longsleeve,white_none_longsleeve,white_none_longsleeve,white_none_longsleeve
2,blue_none_shortsleeve,blue_none_shortsleeve,blue_none_longsleeve,blue_none_shortsleeve,blue_none_longsleeve,gray_none_longneat,blue_none_longsleeve,blue_none_longsleeve,blue_none_longsleeve,blue_none_longsleeve,blue_none_longsleeve,blue_none_longsleeve
3,red_none_shortsleeve,red_none_shortsleeve,red_none_longsleeve,red_none_shortsleeve,red_none_longsleeve,beige_none_longneat,red_none_longsleeve,red_none_longsleeve,red_none_longsleeve,red_none_longsleeve,red_none_longsleeve,red_none_longsleeve
4,gray_none_shortsleeve,gray_none_shortsleeve,gray_none_longsleeve,gray_none_shortsleeve,gray_none_longsleeve,None,gray_none_longsleeve,gray_none_longsleeve,gray_none_longsleeve,gray_none_longsleeve,gray_none_longsleeve,gray_none_longsleeve
5,yellow_none_shortsleeve,yellow_none_shortsleeve,yellow_none_longsleeve,yellow_none_shortsleeve,yellow_none_longsleeve,None,yellow_none_longsleeve,yellow_none_longsleeve,yellow_none_longsleeve,yellow_none_longsleeve,yellow_none_longsleeve,yellow_none_longsleeve
6,khaki_none_shortsleeve,khaki_none_shortsleeve,khaki_none_longsleeve,khaki_none_shortsleeve,khaki_none_longsleeve,None,khaki_none_longsleeve,khaki_none_longsleeve,khaki_none_longsleeve,khaki_none_longsleeve,khaki_none_longsleeve,khaki_none_longsleeve
7,beige_none_shortsleeve,beige_none_shortsleeve,beige_none_longsleeve,beige_none_shortsleeve,beige_none_longsleeve,None,beige_none_longsleeve,beige_none_longsleeve,beige_none_longsleeve,beige_none_longsleeve,beige_none_longsleeve,beige_none_longsleeve
8,pink_none_shortsleeve,pink_none_shortsleeve,pink_none_longsleeve,pink_none_shortsleeve,pink_none_longsleeve,None,pink_none_longsleeve,pink_none_longsleeve,pink_none_longsleeve,pink_none_longsleeve,pink_none_longsleeve,pink_none_longsleeve
9,purple_none_shortsleeve,purple_none_shortsleeve,purple_none_longsleeve,purple_none_shortsleeve,purple_none_longsleeve,None,purple_none_longsleeve,purple_none_longsleeve,purple_none_longsleeve,purple_none_longsleeve,purple_none_longsleeve,purple_none_longsleeve
10,black_nike_shortsleeve,black_nike_shortsleeve,black_stripe_longsleeve,black_nike_shortsleeve,black_stripe_longsleeve,None,black_stripe_longsleeve,black_stripe_longsleeve,black_stripe_longsleeve,black_stripe_longsleeve,black_stripe_longsleeve,black_stripe_longsleeve
11,white_nike_shortsleeve,white_nike_shortsleeve,red_stripe_longsleeve,white_nike_shortsleeve,red_stripe_longsleeve,None,red_stripe_longsleeve,red_stripe_longsleeve,red_stripe_longsleeve,red_stripe_longsleeve,red_stripe_longsleeve,red_stripe_longsleeve
12,black_stripe_shortsleeve,black_stripe_shortsleeve,yellow_stripe_longsleeve,black_stripe_shortsleeve,yellow_stripe_longsleeve,None,yellow_stripe_longsleeve,yellow_stripe_longsleeve,yellow_stripe_longsleeve,yellow_stripe_longsleeve,yellow_stripe_longsleeve,yellow_stripe_longsleeve
13,red_stripe_shortsleeve,red_stripe_shortsleeve,black_nike_longsleeve,red_stripe_shortsleeve,black_nike_longsleeve,None,black_nike_longsleeve,black_nike_longsleeve,black_nike_longsleeve,black_nike_longsleeve,black_nike_longsleeve,black_nike_longsleeve
14,yellow_stripe_shortsleeve,yellow_stripe_shortsleeve,white_nike_longsleeve,yellow_stripe_shortsleeve,white_nike_longsleeve,None,white_nike_longsleeve,white_nike_longsleeve,white_nike_longsleeve,white_nike_longsleeve,white_nike_longsleeve,white_nike_longsleeve
15,black_check_shortshirt,black_check_shortshirt,black_none_longshirt,black_check_shortshirt,black_none_longshirt,None,black_none_longshirt,black_none_longshirt,black_none_longshirt,black_none_longshirt,black_none_longshirt,black_none_longshirt
16,blue_check_shortshirt,blue_check_shortshirt,white_none_longshirt,blue_check_shortshirt,white_none_longshirt,None,white_none_longshirt,white_none_longshirt,white_none_longshirt,white_none_longshirt,white_none_longshirt,white_none_longshirt
17,red_check_shortshirt,red_check_shortshirt,gray_none_longshirt,red_check_shortshirt,gray_none_longshirt,None,gray_none_longshirt,gray_none_longshirt,gray_none_longshirt,gray_none_longshirt,gray_none_longshirt,gray_none_longshirt
18,yellow_check_shortshirt,yellow_check_shortshirt,beige_none_longshirt,yellow_check_shortshirt,beige_none_longshirt,None,beige_none_longshirt,beige_none_longshirt,beige_none_longshirt,beige_none_longshirt,beige_none_longshirt,beige_none_longshirt
19,cnone_flower_shortshirt,cnone_flower_shortshirt,cnone_flower_longshirt,cnone_flower_shortshirt,cnone_flower_longshirt,None,cnone_flower_longshirt,cnone_flower_longshirt,cnone_flower_longshirt,cnone_flower_longshirt,cnone_flower_longshirt,cnone_flower_longshirt
20,black_none_sleeveless,None,black_check_longshirt,None,black_check_longshirt,None,black_check_longshirt,black_check_longshirt,black_check_longshirt,black_check_longshirt,black_check_longshirt,black_check_longshirt
21,white_none_sleeveless,None,blue_check_longshirt,None,blue_check_longshirt,None,blue_check_longshirt,blue_check_longshirt,blue_check_longshirt,blue_check_longshirt,blue_check_longshirt,blue_check_longshirt
22,None,None,red_check_longshirt,None,red_check_longshirt,None,red_check_longshirt,red_check_longshirt,red_check_longshirt,red_check_longshirt,red_check_longshirt,red_check_longshirt
23,None,None,yellow_check_longshirt,None,yellow_check_longshirt,None,yellow_check_longshirt,yellow_check_longshirt,yellow_check_longshirt,yellow_check_longshirt,yellow_check_longshirt,yellow_check_longshirt
24,None,None,None,None,None,None,black_none_longneat,None,black_none_longneat,None,black_none_longneat,None
25,None,None,None,None,None,None,white_none_longneat,None,white_none_longneat,None,white_none_longneat,None
26,None,None,None,None,None,None,gray_none_longneat,None,gray_none_longneat,None,gray_none_longneat,None
27,None,None,None,None,None,None,beige_none_longneat,None,beige_none_longneat,None,beige_none_longneat,None

In [5]:
# 27 ~
bts={"27": ['black_none_shortpants','white_none_shortpants','lightblue_none_shortpants','blue_none_shortpants','gray_none_shortpants','beige_none_shortpants','red_none_shortpants',
            'black_none_longskirt','white_none_longskirt','lightblue_none_longskirt','blue_none_longskirt','beige_none_longskirt',
            'black_none_shortskirt','white_none_shortskirt','lightblue_none_shortskirt','blue_none_shortskirt','beige_none_shortskirt',
            'black_none_adidasshortpants']}

# 26 ~ 23
bts_tt={"26": ['black_none_longpants','white_none_longpants','lightblue_none_longpants','blue_none_longpants','gray_none_longpants','beige_none_longpants',
               'black_none_shortpants','white_none_shortpants','lightblue_none_shortpants','blue_none_shortpants','gray_none_shortpants','beige_none_shortpants','red_none_shortpants',
               'black_none_longskirt','white_none_longskirt','lightblue_none_longskirt','blue_none_longskirt','beige_none_longskirt',
               'black_none_shortskirt','white_none_shortskirt','lightblue_none_shortskirt','blue_none_shortskirt','beige_none_shortskirt',
               'black_none_adidaslongpants','black_none_adidasshortpants','black_none_joggerpants']} 

# 22 ~ 20 
btt_t1={"22-1":['black_none_longpants','white_none_longpants','lightblue_none_longpants','blue_none_longpants','gray_none_longpants','beige_none_longpants',
                'black_none_shortpants','white_none_shortpants','lightblue_none_shortpants','blue_none_shortpants','gray_none_shortpants','beige_none_shortpants','red_none_shortpants',
                'black_none_longskirt','white_none_longskirt','lightblue_none_longskirt','blue_none_longskirt','beige_none_longskirt',
                'black_none_shortskirt','white_none_shortskirt','lightblue_none_shortskirt','blue_none_shortskirt','beige_none_shortskirt',
                'black_none_adidaslongpants','black_none_adidasshortpants','black_none_joggerpants']} 

btt_t1["22-2"]=['black_none_longpants','white_none_longpants','lightblue_none_longpants','blue_none_longpants','gray_none_longpants','beige_none_longpants',
                'black_none_longskirt','white_none_longskirt','lightblue_none_longskirt','blue_none_longskirt','beige_none_longskirt',
                'black_none_shortskirt','white_none_shortskirt','lightblue_none_shortskirt','blue_none_shortskirt','beige_none_shortskirt',
                'black_none_adidaslongpants','black_none_joggerpants']

# 19 ~ 17
bon_os1={"19-1": ['black_none_longpants','white_none_longpants','lightblue_none_longpants','blue_none_longpants','gray_none_longpants','beige_none_longpants',
                  'black_none_longskirt','white_none_longskirt','lightblue_none_longskirt','blue_none_longskirt','beige_none_longskirt',
                  'black_none_shortskirt','white_none_shortskirt','lightblue_none_shortskirt','blue_none_shortskirt','beige_none_shortskirt',
                  'black_none_adidaslongpants','black_none_joggerpants']}
bon_os1["19-2"]=['black_none_longpants','white_none_longpants','lightblue_none_longpants','blue_none_longpants','gray_none_longpants','beige_none_longpants',
                  'black_none_longskirt','white_none_longskirt','lightblue_none_longskirt','blue_none_longskirt','beige_none_longskirt',
                  'black_none_shortskirt','white_none_shortskirt','lightblue_none_shortskirt','blue_none_shortskirt','beige_none_shortskirt']

# 16 ~ 10
bos_o1={"16": ['black_none_longpants','white_none_longpants','lightblue_none_longpants','blue_none_longpants','gray_none_longpants','beige_none_longpants',
               'black_none_longskirt','white_none_longskirt','lightblue_none_longskirt','blue_none_longskirt','beige_none_longskirt',
               'black_none_shortskirt','white_none_shortskirt','lightblue_none_shortskirt','blue_none_shortskirt','beige_none_shortskirt',
               'black_none_adidaslongpants','black_none_joggerpants']}

# 9 ~ 6, 5 ~
bn_s1={"9":['black_none_longpants','white_none_longpants','lightblue_none_longpants','blue_none_longpants','gray_none_longpants','beige_none_longpants',
            'black_none_longskirt','white_none_longskirt','lightblue_none_longskirt','blue_none_longskirt','beige_none_longskirt',
            'black_none_adidaslongpants','black_none_joggerpants']}

In [6]:
total2={}
total2.update(bts)
total2.update(bts_tt)
total2.update(btt_t1)
total2.update(bon_os1)
total2.update(bos_o1)
total2.update(bn_s1)

In [7]:
df2 = pd.DataFrame.from_dict(total2, orient='index')
df2 = df2.T
df2

,27,26,22-1,22-2,19-1,19-2,16,9
0,black_none_shortpants,black_none_longpants,black_none_longpants,black_none_longpants,black_none_longpants,black_none_longpants,black_none_longpants,black_none_longpants
1,white_none_shortpants,white_none_longpants,white_none_longpants,white_none_longpants,white_none_longpants,white_none_longpants,white_none_longpants,white_none_longpants
2,lightblue_none_shortpants,lightblue_none_longpants,lightblue_none_longpants,lightblue_none_longpants,lightblue_none_longpants,lightblue_none_longpants,lightblue_none_longpants,lightblue_none_longpants
3,blue_none_shortpants,blue_none_longpants,blue_none_longpants,blue_none_longpants,blue_none_longpants,blue_none_longpants,blue_none_longpants,blue_none_longpants
4,gray_none_shortpants,gray_none_longpants,gray_none_longpants,gray_none_longpants,gray_none_longpants,gray_none_longpants,gray_none_longpants,gray_none_longpants
5,beige_none_shortpants,beige_none_longpants,beige_none_longpants,beige_none_longpants,beige_none_longpants,beige_none_longpants,beige_none_longpants,beige_none_longpants
6,red_none_shortpants,black_none_shortpants,black_none_shortpants,black_none_longskirt,black_none_longskirt,black_none_longskirt,black_none_longskirt,black_none_longskirt
7,black_none_longskirt,white_none_shortpants,white_none_shortpants,white_none_longskirt,white_none_longskirt,white_none_longskirt,white_none_longskirt,white_none_longskirt
8,white_none_longskirt,lightblue_none_shortpants,lightblue_none_shortpants,lightblue_none_longskirt,lightblue_none_longskirt,lightblue_none_longskirt,lightblue_none_longskirt,lightblue_none_longskirt
9,lightblue_none_longskirt,blue_none_shortpants,blue_none_shortpants,blue_none_longskirt,blue_none_longskirt,blue_none_longskirt,blue_none_longskirt,blue_none_longskirt
10,blue_none_longskirt,gray_none_shortpants,gray_none_shortpants,beige_none_longskirt,beige_none_longskirt,beige_none_longskirt,beige_none_longskirt,beige_none_longskirt
11,beige_none_longskirt,beige_none_shortpants,beige_none_shortpants,black_none_shortskirt,black_none_shortskirt,black_none_shortskirt,black_none_shortskirt,black_none_adidaslongpants
12,black_none_shortskirt,red_none_shortpants,red_none_shortpants,white_none_shortskirt,white_none_shortskirt,white_none_shortskirt,white_none_shortskirt,black_none_joggerpants
13,white_none_shortskirt,black_none_longskirt,black_none_longskirt,lightblue_none_shortskirt,lightblue_none_shortskirt,lightblue_none_shortskirt,lightblue_none_shortskirt,None
14,lightblue_none_shortskirt,white_none_longskirt,white_none_longskirt,blue_none_shortskirt,blue_none_shortskirt,blue_none_shortskirt,blue_none_shortskirt,None
15,blue_none_shortskirt,lightblue_none_longskirt,lightblue_none_longskirt,beige_none_shortskirt,beige_none_shortskirt,beige_none_shortskirt,beige_none_shortskirt,None
16,beige_none_shortskirt,blue_none_longskirt,blue_none_longskirt,black_none_adidaslongpants,black_none_adidaslongpants,None,black_none_adidaslongpants,None
17,black_none_adidasshortpants,beige_none_longskirt,beige_none_longskirt,black_none_joggerpants,black_none_joggerpants,None,black_none_joggerpants,None
18,None,black_none_shortskirt,black_none_shortskirt,None,None,None,None,None
19,None,white_none_shortskirt,white_none_shortskirt,None,None,None,None,None
20,None,lightblue_none_shortskirt,lightblue_none_shortskirt,None,None,None,None,None
21,None,blue_none_shortskirt,blue_none_shortskirt,None,None,None,None,None
22,None,beige_none_shortskirt,beige_none_shortskirt,None,None,None,None,None
23,None,black_none_adidaslongpants,black_none_adidaslongpants,None,None,None,None,None
24,None,black_none_adidasshortpants,black_none_adidasshortpants,None,None,None,None,None
25,None,black_none_joggerpants,black_none_joggerpants,None,None,None,None,None

In [8]:
# 27 ~
dts={"27":['black_none_sumshortdress','white_none_sumshortdress','blue_none_sumshortdress','red_none_sumshortdress','beige_none_sumshortdress']}

# 26 ~ 23
dts_tt={"26":['black_none_sumlongdress','white_none_sumlongdress','blue_none_sumlongdress','red_none_sumlongdress','beige_none_sumlongdress',
              'black_none_sumshortdress','white_none_sumshortdress','blue_none_sumshortdress','red_none_sumshortdress','beige_none_sumshortdress']}

# 22 ~ 20 
dtt_t1={"22-1":['black_none_winshortdress','white_none_winshortdress','blue_none_winshortdress','red_none_winshortdress','beige_none_winshortdress']}

dtt_t1["22-2"]=['black_none_winlongdress','white_none_winlongdress','blue_none_winlongdress','red_none_winlongdress','beige_none_winlongdress',
                'black_none_winshortdress','white_none_winshortdress','blue_none_winshortdress','red_none_winshortdress','beige_none_winshortdress']

# 19 ~ 17, # 16 ~ 10, 9 ~ 6, 5 ~
don_os={"19":['black_none_winlongdress','white_none_winlongdress','blue_none_winlongdress','red_none_winlongdress','beige_none_winlongdress',
              'black_none_winshortdress','white_none_winshortdress','blue_none_winshortdress','red_none_winshortdress','beige_none_winshortdress']}

In [9]:
total3={}
total3.update(dts)
total3.update(dts_tt)
total3.update(dtt_t1)
total3.update(don_os)

In [10]:
df3 = pd.DataFrame.from_dict(total3,orient='index')
df3 = df3.T
df3

,27,26,22-1,22-2,19
0,black_none_sumshortdress,black_none_sumlongdress,black_none_winshortdress,black_none_winlongdress,black_none_winlongdress
1,white_none_sumshortdress,white_none_sumlongdress,white_none_winshortdress,white_none_winlongdress,white_none_winlongdress
2,blue_none_sumshortdress,blue_none_sumlongdress,blue_none_winshortdress,blue_none_winlongdress,blue_none_winlongdress
3,red_none_sumshortdress,red_none_sumlongdress,red_none_winshortdress,red_none_winlongdress,red_none_winlongdress
4,beige_none_sumshortdress,beige_none_sumlongdress,beige_none_winshortdress,beige_none_winlongdress,beige_none_winlongdress
5,None,black_none_sumshortdress,None,black_none_winshortdress,black_none_winshortdress
6,None,white_none_sumshortdress,None,white_none_winshortdress,white_none_winshortdress
7,None,blue_none_sumshortdress,None,blue_none_winshortdress,blue_none_winshortdress
8,None,red_none_sumshortdress,None,red_none_winshortdress,red_none_winshortdress
9,None,beige_none_sumshortdress,None,beige_none_winshortdress,beige_none_winshortdress

In [11]:
#+["None" for i in range(5)]

# 22 ~ 20 : gardigan
ptt_t={"22":['brown_none_cardigan', 'gray_none_cardigan', 'black_none_cardigan']}

# 19 ~ 17 : 19-1: vest, gardigan, hoodie, jacket
pon_os1={"19-1":['black_none_vest','gray_none_vest','blue_none_jacket'
                'black_none_cardigan','gray_none_cardigan','brown_none_cardigan',
                'black_none_hoodie','gray_none_hoodie','brown_none_hoodie']}
# 19 -1 :jacket, gardigan
pon_os1["19-2"]=['blue_none_jacket',
                 'brown_none_cardigan','gray_none_cardigan', 'black_none_cardigan']

# 16 ~ 10 : 16-1 : gardigan, hoodie, ma-1, jacket, blezer, rider
pos_o1={"16-1":['brown_none_cardigan','gray_none_cardigan', 'black_none_cardigan',
                'black_none_hoodie','gray_none_hoodie','brown_none_hoodie',
                'black_none_ma1','khaki_none_ma1',
                'blue_none_jacket','black_none_riderjacket',
                'black_none_blazer','gray_none_blazer']}
# 16 -2: gardigan, jacket
pos_o1["16-2"]= ['blue_none_jacket',
                 'brown_none_cardigan','gray_none_cardigan', 'black_none_cardigan']
# oos_o1["16-2"] + vest

# 9 ~ 6 : 9-1: rider, coat, parka
pn_s1={"9-1":['black_none_parka','white_none_parka',
             'black_none_coat','gray_none_coat','brown_none_coat',
             'black_none_riderjacket']}
# 9-2: coat, parka
pn_s1["9-2"]=['black_none_parka','white_none_parka',
             'black_none_coat','gray_none_coat','brown_none_coat']
#n_s1["9-2"] + vest!

# 9-3_1:gardigan, hoodie
pn_s1["9-3_1"]=['brown_none_cardigan','gray_none_cardigan', 'black_none_cardigan',
               'black_none_hoodie','gray_none_hoodie','brown_none_hoodie']
# 9-3_2: coat, rider, ma-1
pn_s1["9-3_2"]=['black_none_coat','gray_none_coat','brown_none_coat',
                'black_none_riderjacket', 'black_none_ma1','khaki_none_ma1']

# n_s1["9-3_1"] + n_s1["9-3_2"]

# 5 ~ : 5-1: coat, parka
pf1={"5-1":pn_s1["9-2"]}
#그냥 f1["5-1"]이랑, f1["5-1"] + vest !!

# 5-2_1: rider, jacket, hoodie, gardigan
pf1["5-2_1"]=['brown_none_cardigan','gray_none_cardigan', 'black_none_cardigan',
             'black_none_hoodie','gray_none_hoodie','brown_none_hoodie',
             'blue_none_jacket','black_none_riderjacket']
# 5-2_2: coar, parka
pf1["5-2_2"]=pn_s1["9-2"]
 #그냥 f1["5-2_1"] + f1["5-2_2"] 이랑, f1["5-2_1"] + f1["5-2_2"] + vest !!

pf1["5-2_3"]=['brown_none_cardigan','gray_none_cardigan', 'black_none_cardigan','blue_none_jacket']

pf1["5-2_4"]=['brown_none_cardigan','gray_none_cardigan', 'black_none_cardigan','blue_none_jacket','black_none_riderjacket']

#vest
vest=['black_none_neatvest','gray_none_neatvest']

In [12]:
total4={}
total4.update(ptt_t)
total4.update(pon_os1)
total4.update(pos_o1)
total4.update(pn_s1)
total4.update(pf1)

In [13]:
df4 = pd.DataFrame.from_dict(total4, orient='index')
df4 = df4.T
df4

,22,19-1,19-2,16-1,16-2,9-1,9-2,9-3_1,9-3_2,5-1,5-2_1,5-2_2,5-2_3,5-2_4
0,brown_none_cardigan,black_none_vest,blue_none_jacket,brown_none_cardigan,blue_none_jacket,black_none_parka,black_none_parka,brown_none_cardigan,black_none_coat,black_none_parka,brown_none_cardigan,black_none_parka,brown_none_cardigan,brown_none_cardigan
1,gray_none_cardigan,gray_none_vest,brown_none_cardigan,gray_none_cardigan,brown_none_cardigan,white_none_parka,white_none_parka,gray_none_cardigan,gray_none_coat,white_none_parka,gray_none_cardigan,white_none_parka,gray_none_cardigan,gray_none_cardigan
2,black_none_cardigan,blue_none_jacketblack_none_cardigan,gray_none_cardigan,black_none_cardigan,gray_none_cardigan,black_none_coat,black_none_coat,black_none_cardigan,brown_none_coat,black_none_coat,black_none_cardigan,black_none_coat,black_none_cardigan,black_none_cardigan
3,None,gray_none_cardigan,black_none_cardigan,black_none_hoodie,black_none_cardigan,gray_none_coat,gray_none_coat,black_none_hoodie,black_none_riderjacket,gray_none_coat,black_none_hoodie,gray_none_coat,blue_none_jacket,blue_none_jacket
4,None,brown_none_cardigan,None,gray_none_hoodie,None,brown_none_coat,brown_none_coat,gray_none_hoodie,black_none_ma1,brown_none_coat,gray_none_hoodie,brown_none_coat,None,black_none_riderjacket
5,None,black_none_hoodie,None,brown_none_hoodie,None,black_none_riderjacket,None,brown_none_hoodie,khaki_none_ma1,None,brown_none_hoodie,None,None,None
6,None,gray_none_hoodie,None,black_none_ma1,None,None,None,None,None,None,blue_none_jacket,None,None,None
7,None,brown_none_hoodie,None,khaki_none_ma1,None,None,None,None,None,None,black_none_riderjacket,None,None,None
8,None,None,None,blue_none_jacket,None,None,None,None,None,None,None,None,None,None
9,None,None,None,black_none_riderjacket,None,None,None,None,None,None,None,None,None,None
10,None,None,None,black_none_blazer,None,None,None,None,None,None,None,None,None,None
11,None,None,None,gray_none_blazer,None,None,None,None,None,None,None,None,None,None

## 기온에 따른 옷 조합

### 27도

In [14]:
twentyseven=pd.DataFrame(columns=["top","bottom","dress","outer"])

In [15]:
#twenty_seven_1 : top+bottom
twentyseven_1= pd.MultiIndex.from_product((set(ts["27"])-{"None"}, set(bts["27"])-{"None"}))
twentyseven_1=pd.DataFrame(twentyseven_1)
for i in twentyseven_1[0].tolist():
    twentyseven = twentyseven.append({"top":i[0],"bottom":i[1]},ignore_index=True)
twentyseven

                        top                       bottom dress outer
0     gray_none_shortsleeve         gray_none_shortpants   NaN   NaN
1     gray_none_shortsleeve        beige_none_shortpants   NaN   NaN
2     gray_none_shortsleeve          red_none_shortpants   NaN   NaN
3     gray_none_shortsleeve         beige_none_longskirt   NaN   NaN
4     gray_none_shortsleeve         blue_none_shortpants   NaN   NaN
..                      ...                          ...   ...   ...
391  black_nike_shortsleeve        black_none_shortpants   NaN   NaN
392  black_nike_shortsleeve        white_none_shortpants   NaN   NaN
393  black_nike_shortsleeve  black_none_adidasshortpants   NaN   NaN
394  black_nike_shortsleeve    lightblue_none_shortpants   NaN   NaN
395  black_nike_shortsleeve          blue_none_longskirt   NaN   NaN

[396 rows x 4 columns]

In [16]:
#twenty_seven_1 : dress
idx_d=df3[df3["27"]==None].index
twentyseven_2= df3["27"].drop(idx_d)
twentyseven_2
for i in twentyseven_2.tolist():
    if i != None:
        print(i)
        twentyseven = twentyseven.append({"dress":i},ignore_index=True)
twentyseven

black_none_sumshortdress
white_none_sumshortdress
blue_none_sumshortdress
red_none_sumshortdress
beige_none_sumshortdress

,top,bottom,dress,outer
0,gray_none_shortsleeve,gray_none_shortpants,NaN,NaN
1,gray_none_shortsleeve,beige_none_shortpants,NaN,NaN
2,gray_none_shortsleeve,red_none_shortpants,NaN,NaN
3,gray_none_shortsleeve,beige_none_longskirt,NaN,NaN
4,gray_none_shortsleeve,blue_none_shortpants,NaN,NaN
...,...,...,...,...
396,NaN,NaN,black_none_sumshortdress,NaN
397,NaN,NaN,white_none_sumshortdress,NaN
398,NaN,NaN,blue_none_sumshortdress,NaN
399,NaN,NaN,red_none_sumshortdress,NaN
400,NaN,NaN,beige_none_sumshortdress,NaN

In [17]:
pd.DataFrame(twentyseven).to_csv("27_fashion.csv",mode="w")

### 26 ~ 23도

In [18]:
twentysix_twentythree = pd.DataFrame(columns=["top","bottom","dress","outer"])

In [19]:
# twentysix_twentythree_1 : top + bottom
twentysix_twentythree_1 = pd.MultiIndex.from_product((set(ts_tt["26"])-{"None"}, set(bts_tt["26"])-{"None"}))
twentysix_twentythree_1 = pd.DataFrame(twentysix_twentythree_1)

for i in twentysix_twentythree_1[0].tolist():
    twentysix_twentythree = twentysix_twentythree.append({"top":i[0],"bottom":i[1]},ignore_index=True)
twentysix_twentythree

                        top                       bottom dress outer
0     gray_none_shortsleeve         gray_none_shortpants   NaN   NaN
1     gray_none_shortsleeve          red_none_shortpants   NaN   NaN
2     gray_none_shortsleeve        beige_none_shortpants   NaN   NaN
3     gray_none_shortsleeve         beige_none_longskirt   NaN   NaN
4     gray_none_shortsleeve   black_none_adidaslongpants   NaN   NaN
..                      ...                          ...   ...   ...
515  black_nike_shortsleeve         black_none_longpants   NaN   NaN
516  black_nike_shortsleeve  black_none_adidasshortpants   NaN   NaN
517  black_nike_shortsleeve       black_none_joggerpants   NaN   NaN
518  black_nike_shortsleeve    lightblue_none_shortpants   NaN   NaN
519  black_nike_shortsleeve          blue_none_longskirt   NaN   NaN

[520 rows x 4 columns]

In [20]:
# twentysix_twentythree_2 : dress
idx_d2=df3[df3["26"]=="None"].index
twentysix_twentythree_2 = df3["26"].drop(idx_d2)
for i in twentysix_twentythree_2.tolist():
    if i != None:
        print(i)
        twentysix_twentythree = twentysix_twentythree.append({"dress":i},ignore_index=True)
twentysix_twentythree

black_none_sumlongdress
white_none_sumlongdress
blue_none_sumlongdress
red_none_sumlongdress
beige_none_sumlongdress
black_none_sumshortdress
white_none_sumshortdress
blue_none_sumshortdress
red_none_sumshortdress
beige_none_sumshortdress

,top,bottom,dress,outer
0,gray_none_shortsleeve,gray_none_shortpants,NaN,NaN
1,gray_none_shortsleeve,red_none_shortpants,NaN,NaN
2,gray_none_shortsleeve,beige_none_shortpants,NaN,NaN
3,gray_none_shortsleeve,beige_none_longskirt,NaN,NaN
4,gray_none_shortsleeve,black_none_adidaslongpants,NaN,NaN
...,...,...,...,...
525,NaN,NaN,black_none_sumshortdress,NaN
526,NaN,NaN,white_none_sumshortdress,NaN
527,NaN,NaN,blue_none_sumshortdress,NaN
528,NaN,NaN,red_none_sumshortdress,NaN
529,NaN,NaN,beige_none_sumshortdress,NaN

In [21]:
pd.DataFrame(twentysix_twentythree).to_csv("26_23_fashion.csv",mode="w")

### 22 ~ 20도

In [22]:
twentytwo_twenty= pd.DataFrame(columns=["top","bottom","dress","outer"])

In [23]:
# twentytwo_twenty_1 : top + bottom
twentytwo_twenty_1= pd.MultiIndex.from_product((set(tt_t1["22-1"])-{"None"}, set(btt_t1["22-1"])-{"None"}))
twentytwo_twenty_1=pd.DataFrame(twentytwo_twenty_1)

for i in twentytwo_twenty_1[0].tolist():
    twentytwo_twenty = twentytwo_twenty.append({"top":i[0],"bottom":i[1]},ignore_index=True)
twentytwo_twenty

                        top                       bottom dress outer
0    purple_none_longsleeve         gray_none_shortpants   NaN   NaN
1    purple_none_longsleeve          red_none_shortpants   NaN   NaN
2    purple_none_longsleeve        beige_none_shortpants   NaN   NaN
3    purple_none_longsleeve         beige_none_longskirt   NaN   NaN
4    purple_none_longsleeve   black_none_adidaslongpants   NaN   NaN
..                      ...                          ...   ...   ...
619     red_none_longsleeve         black_none_longpants   NaN   NaN
620     red_none_longsleeve  black_none_adidasshortpants   NaN   NaN
621     red_none_longsleeve       black_none_joggerpants   NaN   NaN
622     red_none_longsleeve    lightblue_none_shortpants   NaN   NaN
623     red_none_longsleeve          blue_none_longskirt   NaN   NaN

[624 rows x 4 columns]

In [24]:
# twentytwo_twenty_2 : top + bottom + outer
twentytwo_twenty_2= pd.MultiIndex.from_product((set(tt_t1["22-2"])-{"None"}, set(btt_t1["22-2"])-{"None"}, set(ptt_t["22"])-{"None"}))
twentytwo_twenty_2=pd.DataFrame(twentytwo_twenty_2)

for i in twentytwo_twenty_2[0].tolist():
    twentytwo_twenty = twentytwo_twenty.append({"top":i[0],"bottom":i[1],'outer':i[2]},ignore_index=True)
twentytwo_twenty

,top,bottom,dress,outer
0,purple_none_longsleeve,gray_none_shortpants,NaN,NaN
1,purple_none_longsleeve,red_none_shortpants,NaN,NaN
2,purple_none_longsleeve,beige_none_shortpants,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,NaN
4,purple_none_longsleeve,black_none_adidaslongpants,NaN,NaN
...,...,...,...,...
1699,black_nike_shortsleeve,black_none_joggerpants,NaN,black_none_cardigan
1700,black_nike_shortsleeve,black_none_joggerpants,NaN,gray_none_cardigan
1701,black_nike_shortsleeve,blue_none_longskirt,NaN,brown_none_cardigan
1702,black_nike_shortsleeve,blue_none_longskirt,NaN,black_none_cardigan
1703,black_nike_shortsleeve,blue_none_longskirt,NaN,gray_none_cardigan

In [25]:
# twentytwo_twenty_3 : dress
idx_d3=df3[df3["22-1"]=="None"].index
twentytwo_twenty_3 = df3["22-1"].drop(idx_d3)
for i in twentytwo_twenty_3.tolist():
    if i != None:
        print(i)
        twentytwo_twenty = twentytwo_twenty.append({"dress":i},ignore_index=True)
twentytwo_twenty

black_none_winshortdress
white_none_winshortdress
blue_none_winshortdress
red_none_winshortdress
beige_none_winshortdress

,top,bottom,dress,outer
0,purple_none_longsleeve,gray_none_shortpants,NaN,NaN
1,purple_none_longsleeve,red_none_shortpants,NaN,NaN
2,purple_none_longsleeve,beige_none_shortpants,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,NaN
4,purple_none_longsleeve,black_none_adidaslongpants,NaN,NaN
...,...,...,...,...
1704,NaN,NaN,black_none_winshortdress,NaN
1705,NaN,NaN,white_none_winshortdress,NaN
1706,NaN,NaN,blue_none_winshortdress,NaN
1707,NaN,NaN,red_none_winshortdress,NaN
1708,NaN,NaN,beige_none_winshortdress,NaN

In [26]:
# twentytwo_twenty_4 : dress + outer
twentytwo_twenty_4= pd.MultiIndex.from_product((set(dtt_t1["22-2"])-{"None"}, set(ptt_t["22"])-{"None"}))
twentytwo_twenty_4=pd.DataFrame(twentytwo_twenty_4)

for i in twentytwo_twenty_4[0].tolist():
    twentytwo_twenty = twentytwo_twenty.append({"dress":i[0],"outer":i[1]},ignore_index=True)
twentytwo_twenty

,top,bottom,dress,outer
0,purple_none_longsleeve,gray_none_shortpants,NaN,NaN
1,purple_none_longsleeve,red_none_shortpants,NaN,NaN
2,purple_none_longsleeve,beige_none_shortpants,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,NaN
4,purple_none_longsleeve,black_none_adidaslongpants,NaN,NaN
...,...,...,...,...
1734,NaN,NaN,white_none_winlongdress,black_none_cardigan
1735,NaN,NaN,white_none_winlongdress,gray_none_cardigan
1736,NaN,NaN,blue_none_winshortdress,brown_none_cardigan
1737,NaN,NaN,blue_none_winshortdress,black_none_cardigan
1738,NaN,NaN,blue_none_winshortdress,gray_none_cardigan

In [27]:
pd.DataFrame(twentytwo_twenty).to_csv("22_20_fashion.csv",mode="w")

### 19 ~ 17도

In [28]:
nineteen_seventeen= pd.DataFrame(columns=["top","bottom","dress","outer"])

In [29]:
# nineteen_seventeen_1 : top + bottom + outer
nineteen_seventeen_1= pd.MultiIndex.from_product((set(on_os1["19-1"])-{"None"}, set(bon_os1["19-1"])-{"None"},set(pon_os1["19-1"])-{"None"} ))
nineteen_seventeen_1=pd.DataFrame(nineteen_seventeen_1)

for i in nineteen_seventeen_1[0].tolist():
    nineteen_seventeen = nineteen_seventeen.append({"top":i[0],"bottom":i[1],'outer':i[2]},ignore_index=True)
nineteen_seventeen

,top,bottom,dress,outer
0,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_vest
1,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_cardigan
2,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_vest
3,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_hoodie
4,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_cardigan
...,...,...,...,...
3451,red_none_longsleeve,blue_none_longskirt,NaN,gray_none_hoodie
3452,red_none_longsleeve,blue_none_longskirt,NaN,gray_none_cardigan
3453,red_none_longsleeve,blue_none_longskirt,NaN,blue_none_jacketblack_none_cardigan
3454,red_none_longsleeve,blue_none_longskirt,NaN,black_none_hoodie
3455,red_none_longsleeve,blue_none_longskirt,NaN,brown_none_hoodie

In [30]:
# nineteen_seventeen_2 : top + bottom 
nineteen_seventeen_2= pd.MultiIndex.from_product((set(on_os1["19-2"])-{"None"}, set(bon_os1["19-2"])-{"None"}))
nineteen_seventeen_2=pd.DataFrame(nineteen_seventeen_2)

for i in nineteen_seventeen_2[0].tolist():
    nineteen_seventeen = nineteen_seventeen.append({"top":i[0],"bottom":i[1]},ignore_index=True)
nineteen_seventeen

                         top                 bottom dress                outer
0     purple_none_longsleeve   beige_none_longskirt   NaN      black_none_vest
1     purple_none_longsleeve   beige_none_longskirt   NaN  brown_none_cardigan
2     purple_none_longsleeve   beige_none_longskirt   NaN       gray_none_vest
3     purple_none_longsleeve   beige_none_longskirt   NaN     gray_none_hoodie
4     purple_none_longsleeve   beige_none_longskirt   NaN   gray_none_cardigan
...                      ...                    ...   ...                  ...
3515     black_none_longneat   white_none_longpants   NaN                  NaN
3516     black_none_longneat  beige_none_shortskirt   NaN                  NaN
3517     black_none_longneat   beige_none_longpants   NaN                  NaN
3518     black_none_longneat   black_none_longpants   NaN                  NaN
3519     black_none_longneat    blue_none_longskirt   NaN                  NaN

[3520 rows x 4 columns]

In [31]:
# nineteen_seventeen_3 : dress
idx_d4=df3[df3["19"]=="None"].index
nineteen_seventeen_3 = df3["19"].drop(idx_d4)
for i in nineteen_seventeen_3.tolist():
    if i != None:
        print(i)
        nineteen_seventeen = nineteen_seventeen.append({"dress":i},ignore_index=True)
nineteen_seventeen

black_none_winlongdress
white_none_winlongdress
blue_none_winlongdress
red_none_winlongdress
beige_none_winlongdress
black_none_winshortdress
white_none_winshortdress
blue_none_winshortdress
red_none_winshortdress
beige_none_winshortdress

,top,bottom,dress,outer
0,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_vest
1,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_cardigan
2,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_vest
3,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_hoodie
4,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_cardigan
...,...,...,...,...
3525,NaN,NaN,black_none_winshortdress,NaN
3526,NaN,NaN,white_none_winshortdress,NaN
3527,NaN,NaN,blue_none_winshortdress,NaN
3528,NaN,NaN,red_none_winshortdress,NaN
3529,NaN,NaN,beige_none_winshortdress,NaN

In [32]:
# nineteen_seventeen_4 : dress + outer
nineteen_seventeen_4= pd.MultiIndex.from_product((nineteen_seventeen_3.to_list(), set(pon_os1["19-2"])-{"None"}))
nineteen_seventeen_4=pd.DataFrame(nineteen_seventeen_4)

for i in nineteen_seventeen_4[0].tolist():
    nineteen_seventeen = nineteen_seventeen.append({"dress":i[0],"outer":i[1]},ignore_index=True)
nineteen_seventeen

,top,bottom,dress,outer
0,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_vest
1,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_cardigan
2,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_vest
3,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_hoodie
4,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_cardigan
...,...,...,...,...
3565,NaN,NaN,red_none_winshortdress,gray_none_cardigan
3566,NaN,NaN,beige_none_winshortdress,blue_none_jacket
3567,NaN,NaN,beige_none_winshortdress,brown_none_cardigan
3568,NaN,NaN,beige_none_winshortdress,black_none_cardigan
3569,NaN,NaN,beige_none_winshortdress,gray_none_cardigan

In [33]:
pd.DataFrame(nineteen_seventeen).to_csv("19_17_fashion.csv",mode="w")

### 16 ~ 10도

In [34]:
sixteen_ten= pd.DataFrame(columns=["top","bottom","dress","outer"])

In [35]:
# sixteen_ten_1: top + bottom + outer
sixteen_ten_1= pd.MultiIndex.from_product((set(os_o1['16-1'])-{"None"}, set(bos_o1["16"])-{"None"}, set(pos_o1["16-1"])-{"None"}))
sixteen_ten_1=pd.DataFrame(sixteen_ten_1)

for i in sixteen_ten_1[0].tolist():
    sixteen_ten = sixteen_ten.append({"top":i[0],"bottom":i[1],"outer":i[2]},ignore_index=True)
sixteen_ten

,top,bottom,dress,outer
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_blazer
1,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_cardigan
2,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_riderjacket
3,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_hoodie
4,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_cardigan
...,...,...,...,...
6043,red_none_longsleeve,blue_none_longskirt,NaN,black_none_ma1
6044,red_none_longsleeve,blue_none_longskirt,NaN,black_none_blazer
6045,red_none_longsleeve,blue_none_longskirt,NaN,blue_none_jacket
6046,red_none_longsleeve,blue_none_longskirt,NaN,brown_none_hoodie
6047,red_none_longsleeve,blue_none_longskirt,NaN,khaki_none_ma1

In [36]:
# sixteen_ten_2: top + bottom + vest + outer
sixteen_ten_2= pd.MultiIndex.from_product((set(os_o1['16-2'])-{"None"}, set(bos_o1["16"])-{"None"}, set(pos_o1["16-2"])-{"None"}, set(vest)-{"None"}))
sixteen_ten_2=pd.DataFrame(sixteen_ten_2)

for i in sixteen_ten_2[0].tolist():
    sixteen_ten = sixteen_ten.append({"top":i[0],"bottom":i[1],"outer":i[2],"vest":i[3]},ignore_index=True)
sixteen_ten

,top,bottom,dress,outer,vest
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_blazer,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_cardigan,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_riderjacket,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_hoodie,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_cardigan,NaN
...,...,...,...,...,...
9499,red_none_longsleeve,blue_none_longskirt,NaN,brown_none_cardigan,black_none_neatvest
9500,red_none_longsleeve,blue_none_longskirt,NaN,black_none_cardigan,gray_none_neatvest
9501,red_none_longsleeve,blue_none_longskirt,NaN,black_none_cardigan,black_none_neatvest
9502,red_none_longsleeve,blue_none_longskirt,NaN,gray_none_cardigan,gray_none_neatvest
9503,red_none_longsleeve,blue_none_longskirt,NaN,gray_none_cardigan,black_none_neatvest

In [37]:
# sixteen_ten_3 : dress + outer
sixteen_ten_3= pd.MultiIndex.from_product((nineteen_seventeen_3.to_list(), set(pos_o1["16-1"])-{"None"}))
sixteen_ten_3=pd.DataFrame(sixteen_ten_3)

for i in sixteen_ten_3[0].tolist():
    sixteen_ten = sixteen_ten.append({"dress":i[0],"outer":i[1]},ignore_index=True)
sixteen_ten

,top,bottom,dress,outer,vest
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_blazer,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_cardigan,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_riderjacket,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_hoodie,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_cardigan,NaN
...,...,...,...,...,...
9619,NaN,NaN,beige_none_winshortdress,black_none_ma1,NaN
9620,NaN,NaN,beige_none_winshortdress,black_none_blazer,NaN
9621,NaN,NaN,beige_none_winshortdress,blue_none_jacket,NaN
9622,NaN,NaN,beige_none_winshortdress,brown_none_hoodie,NaN
9623,NaN,NaN,beige_none_winshortdress,khaki_none_ma1,NaN

In [38]:
# sixteen_ten_4 : dress + vest + outer
sixteen_ten_4= pd.MultiIndex.from_product((nineteen_seventeen_3.to_list(), set(pos_o1["16-2"])-{"None"},set(vest)-{"None"}))
sixteen_ten_4=pd.DataFrame(sixteen_ten_4)

for i in sixteen_ten_4[0].tolist():
    sixteen_ten = sixteen_ten.append({"dress":i[0],"outer":i[1],"vest":i[2]},ignore_index=True)
sixteen_ten

,top,bottom,dress,outer,vest
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_blazer,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_cardigan,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_riderjacket,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_hoodie,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_cardigan,NaN
...,...,...,...,...,...
9699,NaN,NaN,beige_none_winshortdress,brown_none_cardigan,black_none_neatvest
9700,NaN,NaN,beige_none_winshortdress,black_none_cardigan,gray_none_neatvest
9701,NaN,NaN,beige_none_winshortdress,black_none_cardigan,black_none_neatvest
9702,NaN,NaN,beige_none_winshortdress,gray_none_cardigan,gray_none_neatvest
9703,NaN,NaN,beige_none_winshortdress,gray_none_cardigan,black_none_neatvest

In [39]:
pd.DataFrame(sixteen_ten).to_csv("16_10_fashion.csv",mode="w")

### 9 ~ 6도

In [40]:
nine_six= pd.DataFrame(columns=["top","bottom","dress","outer","vest"])

In [41]:
# nine_six_1: top + bottom + outer
nine_six_1= pd.MultiIndex.from_product((set(n_s1['9-1'])-{"None"}, set(bn_s1["9"])-{"None"}, set(pn_s1["9-1"])-{"None"}))
nine_six_1=pd.DataFrame(nine_six_1)

for i in nine_six_1[0].tolist():
    nine_six = nine_six.append({"top":i[0],"bottom":i[1],"outer":i[2]},ignore_index=True)
nine_six

,top,bottom,dress,outer,vest
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_riderjacket,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN
...,...,...,...,...,...
2179,red_none_longsleeve,white_none_longpants,NaN,black_none_riderjacket,NaN
2180,red_none_longsleeve,white_none_longpants,NaN,black_none_coat,NaN
2181,red_none_longsleeve,white_none_longpants,NaN,brown_none_coat,NaN
2182,red_none_longsleeve,white_none_longpants,NaN,black_none_parka,NaN
2183,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,NaN

In [42]:
# nine_six_2: top + bottom + vest + outer
nine_six_2= pd.MultiIndex.from_product((set(n_s1['9-2'])-{"None"}, set(bn_s1["9"])-{"None"}, set(pn_s1["9-2"])-{"None"} ,set(vest)-{"None"}))
nine_six_2=pd.DataFrame(nine_six_2)

for i in nine_six_2[0].tolist():
    nine_six = nine_six.append({"top":i[0],"bottom":i[1],"outer":i[2],"vest":i[3]},ignore_index=True)
nine_six

,top,bottom,dress,outer,vest
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_riderjacket,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN
...,...,...,...,...,...
5299,red_none_longsleeve,white_none_longpants,NaN,brown_none_coat,black_none_neatvest
5300,red_none_longsleeve,white_none_longpants,NaN,black_none_parka,gray_none_neatvest
5301,red_none_longsleeve,white_none_longpants,NaN,black_none_parka,black_none_neatvest
5302,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,gray_none_neatvest
5303,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,black_none_neatvest

In [43]:
# nine_six_3: top + bottom + outer
nine_six_3= pd.MultiIndex.from_product((set(n_s1['9-2'])-{"None"}, set(bn_s1["9"])-{"None"}, set(pn_s1["9-3_1"])-{"None"} ,set(pn_s1["9-3_2"])-{"None"}))
nine_six_3=pd.DataFrame(nine_six_3)

for i in nine_six_3[0].tolist():
    nine_six = nine_six.append({"top":i[0],"bottom":i[1],"outer":i[2],"outer2":i[3]},ignore_index=True)
nine_six

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_riderjacket,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
...,...,...,...,...,...,...
16531,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,black_none_riderjacket
16532,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,black_none_coat
16533,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,brown_none_coat
16534,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,black_none_ma1
16535,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,khaki_none_ma1

In [44]:
# nine_six_4: dress + outer
nine_six_4= pd.MultiIndex.from_product((nineteen_seventeen_3.to_list(), set(pn_s1["9-1"])-{"None"}))
nine_six_4=pd.DataFrame(nine_six_4)

for i in nine_six_4[0].tolist():
    nine_six = nine_six.append({"dress":i[0],"outer":i[1]},ignore_index=True)
nine_six

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_riderjacket,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
...,...,...,...,...,...,...
16591,NaN,NaN,beige_none_winshortdress,black_none_riderjacket,NaN,NaN
16592,NaN,NaN,beige_none_winshortdress,black_none_coat,NaN,NaN
16593,NaN,NaN,beige_none_winshortdress,brown_none_coat,NaN,NaN
16594,NaN,NaN,beige_none_winshortdress,black_none_parka,NaN,NaN
16595,NaN,NaN,beige_none_winshortdress,white_none_parka,NaN,NaN

In [45]:
# nine_six_5:  dress + vest + outer
nine_six_5= pd.MultiIndex.from_product((nineteen_seventeen_3.to_list(), set(pn_s1["9-1"])-{"None"}, set(vest)-{"None"}))
nine_six_5=pd.DataFrame(nine_six_5)

for i in nine_six_5[0].tolist():
    nine_six = nine_six.append({"dress":i[0],"outer":i[1],"vest":i[2]},ignore_index=True)
nine_six

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_riderjacket,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
...,...,...,...,...,...,...
16711,NaN,NaN,beige_none_winshortdress,brown_none_coat,black_none_neatvest,NaN
16712,NaN,NaN,beige_none_winshortdress,black_none_parka,gray_none_neatvest,NaN
16713,NaN,NaN,beige_none_winshortdress,black_none_parka,black_none_neatvest,NaN
16714,NaN,NaN,beige_none_winshortdress,white_none_parka,gray_none_neatvest,NaN
16715,NaN,NaN,beige_none_winshortdress,white_none_parka,black_none_neatvest,NaN

In [46]:
pd.DataFrame(nine_six).to_csv("9_6_fashion.csv",mode="w")

### 5 ~ 도

In [47]:
five= pd.DataFrame(columns=["top","bottom","dress","outer","vest","outer2"])

In [48]:
# five_1: top + bottom + outer
five_1= pd.MultiIndex.from_product((set(f1["5-1"])-{"None"}, set(bn_s1["9"])-{"None"}, set(pf1["5-1"])-{"None"}))
five_1=pd.DataFrame(five_1)

for i in five_1[0].tolist():
    five = five.append({"top":i[0],"bottom":i[1],"outer":i[2]},ignore_index=True)
five

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,white_none_parka,NaN,NaN
...,...,...,...,...,...,...
1815,red_none_longsleeve,white_none_longpants,NaN,gray_none_coat,NaN,NaN
1816,red_none_longsleeve,white_none_longpants,NaN,black_none_coat,NaN,NaN
1817,red_none_longsleeve,white_none_longpants,NaN,brown_none_coat,NaN,NaN
1818,red_none_longsleeve,white_none_longpants,NaN,black_none_parka,NaN,NaN
1819,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,NaN,NaN

In [49]:
# five_2: top + bottom + vest + outer
five_2= pd.MultiIndex.from_product((set(f1["5-2"])-{"None"}, set(bn_s1["9"])-{"None"}, set(pf1["5-1"])-{"None"}, set(vest)-{"None"}))
five_2=pd.DataFrame(five_2)

for i in five_2[0].tolist():
    five = five.append({"top":i[0],"bottom":i[1],"outer":i[2],"vest":i[3]},ignore_index=True)
five

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,white_none_parka,NaN,NaN
...,...,...,...,...,...,...
4935,red_none_longsleeve,white_none_longpants,NaN,brown_none_coat,black_none_neatvest,NaN
4936,red_none_longsleeve,white_none_longpants,NaN,black_none_parka,gray_none_neatvest,NaN
4937,red_none_longsleeve,white_none_longpants,NaN,black_none_parka,black_none_neatvest,NaN
4938,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,gray_none_neatvest,NaN
4939,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,black_none_neatvest,NaN

In [50]:
# five_3: top + bottom + outer + outer
five_3= pd.MultiIndex.from_product((set(f1["5-1"])-{"None"}, set(bn_s1["9"])-{"None"}, set(pf1["5-2_1"])-{"None"},set(pf1["5-2_2"])-{"None"} ))
five_3=pd.DataFrame(five_3)

for i in five_3[0].tolist():
    five = five.append({"top":i[0],"bottom":i[1],"outer":i[2],"outer2":i[3]},ignore_index=True)
five

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,white_none_parka,NaN,NaN
...,...,...,...,...,...,...
19495,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,gray_none_coat
19496,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,black_none_coat
19497,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,brown_none_coat
19498,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,black_none_parka
19499,red_none_longsleeve,white_none_longpants,NaN,brown_none_hoodie,NaN,white_none_parka

In [51]:
# five_4: top + bottom + vest + outer + outer
five_4= pd.MultiIndex.from_product((set(f1["5-1"])-{"None"}, set(bn_s1["9"])-{"None"}, set(pf1["5-2_2"])-{"None"},set(pf1["5-2_3"])-{"None"},set(vest)-{"None"} ))
five_4=pd.DataFrame(five_4)

for i in five_4[0].tolist():
    five = five.append({"top":i[0],"bottom":i[1],"outer":i[2],"outer2":i[3],"vest":i[4]},ignore_index=True)
five

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,white_none_parka,NaN,NaN
...,...,...,...,...,...,...
34055,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,black_none_neatvest,brown_none_cardigan
34056,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,gray_none_neatvest,black_none_cardigan
34057,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,black_none_neatvest,black_none_cardigan
34058,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,gray_none_neatvest,gray_none_cardigan
34059,red_none_longsleeve,white_none_longpants,NaN,white_none_parka,black_none_neatvest,gray_none_cardigan

In [52]:
# five_5:  dress + outer
five_5= pd.MultiIndex.from_product((nineteen_seventeen_3.to_list(), set(pf1["5-2_2"])-{"None"}))
five_5=pd.DataFrame(five_5)

for i in five_5[0].tolist():
    five = five.append({"dress":i[0],"outer":i[1]},ignore_index=True)
five

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,white_none_parka,NaN,NaN
...,...,...,...,...,...,...
34105,NaN,NaN,beige_none_winshortdress,gray_none_coat,NaN,NaN
34106,NaN,NaN,beige_none_winshortdress,black_none_coat,NaN,NaN
34107,NaN,NaN,beige_none_winshortdress,brown_none_coat,NaN,NaN
34108,NaN,NaN,beige_none_winshortdress,black_none_parka,NaN,NaN
34109,NaN,NaN,beige_none_winshortdress,white_none_parka,NaN,NaN

In [53]:
# five_6:  dress + vest + outer
five_6= pd.MultiIndex.from_product((nineteen_seventeen_3.to_list(), set(pf1["5-2_2"])-{"None"}, set(vest)-{"None"}))
five_6=pd.DataFrame(five_6)

for i in five_6[0].tolist():
    five = five.append({"dress":i[0],"outer":i[1],"vest":i[2]},ignore_index=True)
five

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,white_none_parka,NaN,NaN
...,...,...,...,...,...,...
34205,NaN,NaN,beige_none_winshortdress,brown_none_coat,black_none_neatvest,NaN
34206,NaN,NaN,beige_none_winshortdress,black_none_parka,gray_none_neatvest,NaN
34207,NaN,NaN,beige_none_winshortdress,black_none_parka,black_none_neatvest,NaN
34208,NaN,NaN,beige_none_winshortdress,white_none_parka,gray_none_neatvest,NaN
34209,NaN,NaN,beige_none_winshortdress,white_none_parka,black_none_neatvest,NaN

In [54]:
# five_7:  dress + outer + outer
five_7= pd.MultiIndex.from_product((nineteen_seventeen_3.to_list(), set(pf1["5-2_2"])-{"None"}, set(pf1["5-2_4"])-{"None"}))
five_7=pd.DataFrame(five_7)

for i in five_7[0].tolist():
    five = five.append({"dress":i[0],"outer":i[1],"outer2":i[2]},ignore_index=True)
five

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,white_none_parka,NaN,NaN
...,...,...,...,...,...,...
34455,NaN,NaN,beige_none_winshortdress,white_none_parka,NaN,brown_none_cardigan
34456,NaN,NaN,beige_none_winshortdress,white_none_parka,NaN,black_none_riderjacket
34457,NaN,NaN,beige_none_winshortdress,white_none_parka,NaN,gray_none_cardigan
34458,NaN,NaN,beige_none_winshortdress,white_none_parka,NaN,black_none_cardigan
34459,NaN,NaN,beige_none_winshortdress,white_none_parka,NaN,blue_none_jacket

In [55]:
# five_8:  dress + vest + outer + outer
five_8= pd.MultiIndex.from_product((nineteen_seventeen_3.to_list(), set(pf1["5-2_2"])-{"None"}, set(pf1["5-2_3"])-{"None"}, set(vest)-{"None"}))
five_8=pd.DataFrame(five_8)

for i in five_8[0].tolist():
    five = five.append({"dress":i[0],"outer":i[1],"outer2":i[2],"vest":i[3]},ignore_index=True)
five

,top,bottom,dress,outer,vest,outer2
0,purple_none_longsleeve,beige_none_longskirt,NaN,gray_none_coat,NaN,NaN
1,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_coat,NaN,NaN
2,purple_none_longsleeve,beige_none_longskirt,NaN,brown_none_coat,NaN,NaN
3,purple_none_longsleeve,beige_none_longskirt,NaN,black_none_parka,NaN,NaN
4,purple_none_longsleeve,beige_none_longskirt,NaN,white_none_parka,NaN,NaN
...,...,...,...,...,...,...
34855,NaN,NaN,beige_none_winshortdress,white_none_parka,black_none_neatvest,brown_none_cardigan
34856,NaN,NaN,beige_none_winshortdress,white_none_parka,gray_none_neatvest,black_none_cardigan
34857,NaN,NaN,beige_none_winshortdress,white_none_parka,black_none_neatvest,black_none_cardigan
34858,NaN,NaN,beige_none_winshortdress,white_none_parka,gray_none_neatvest,gray_none_cardigan
34859,NaN,NaN,beige_none_winshortdress,white_none_parka,black_none_neatvest,gray_none_cardigan

In [56]:
pd.DataFrame(five).to_csv("5_fashion.csv",mode="w")